#board {
	width: 640px;
	height: 640px;
	background-color: white;
	margin:30px auto;
	border-style: solid;
	border-radius: 10px;
	border-width: 10px;
	border-color: #DCDCDC;
}

.tile {
	width: 16px; height: 16px;
	float: left;
	background-color: black; 
	opacity: 0.3;
}

html {
	background-color: #E9E9DC;
}

